setxkbmap -layout us,ru -option grp:shift_caps_switch &
xset r rate 200 30 &
xbindkeys &
[ ! -s ~/.config/mpd/pid ] && mpd .config/mpd/mpd.conf &
export TERMINAL=terminator &
redshift -l 50.455:30.377 &
not-compton &

